<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Srikanth/IdeaProjects/OrangeHRM">
        <classes>
            <class name="test.OrangeHRM">
                <methods>
                    <include name="AddNationalities"/>
                    <include name="EditNationalities"/>
                    <include name="DeleteNationalities"/>
                    <include name="VerifyReqFieldsAddNationalities"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>